@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
	margin: 0;
    text-align: center;
}

main {
	margin-top: 80px;
	padding: 0;
}

p {
	margin: 0 !important;
}

.bg-tint {
  	background-color: rgba(0, 0, 0, .7) !important;
  	background-blend-mode: multiply;
}

.nav-link {
	--bs-nav-link-font-weight: 600;
	--bs-nav-link-color: #fff;
	font-family: 'Montserrat';
}

.section1 {
	background: url("pictures/childrens.jpg");
	background-size: cover;
	font-family: 'Montserrat';
	height: 100vh;
}

.section-title {
	font-size: 56px;
	font-weight: 700;
}

.section1 a {
	font-weight: 600;
}

.section2, .section3, .section5 {
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Montserrat';
}

.task-task {
	font-size: 29px;
	overflow: auto;
}

.section4 {
	background: #efefef;
}

.section4 .col-10 .col-8 {
	height: 40vh;
}

.project-card {
	background-size: cover;
	background-clip: padding-box;
	background-position: center;
	color: #fff;
	font-family: 'Montserrat';
	overflow: hidden;
}

.project-card a {
	right: 1.5rem;
	top: 0.5rem;
	text-decoration: none;
	color: #fff;
	font-size: 30pt;
}

.names {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}